name: Build Android APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: Install Android Dependencies
        run: |
          sudo apt update
          # Hata veren kütüphaneyi (libtinfo5) listeden çıkarıp güncelledim
          sudo apt install -y git zip unzip autoconf autogen libtool pkg-config zlib1g-dev cmake libffi-dev libssl-dev
          pip install --user --upgrade buildozer cython virtualenv

      - name: Build with Buildozer
        run: |
          # Buildozer'ın ilk kurulumu ve APK üretimi burada başlar
          yes | buildozer android debug
          
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: casus_asistan_mobil_paket
          path: bin/*.apk
