name: Build Android APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-20.04  # Buildozer'ın en sevdiği, en stabil sürüm
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Install System Dependencies
        run: |
          sudo apt update
          sudo apt install -y git zip unzip autoconf autogen libtool pkg-config zlib1g-dev libncurses5-dev libncursesw5-dev libtinfo5 cmake libffi-dev libssl-dev openjdk-17-jdk
          pip install --user --upgrade buildozer cython virtualenv

      - name: Build with Buildozer
        run: |
          # Önceki hatalı dizinleri zorla temizleyip sıfırdan kuruyoruz
          rm -rf .buildozer/
          buildozer android debug
          
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Casus_Asistan_Mobil_Paket
          path: bin/*.apk
