name: Build Android APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      # ANDROID İÇİN KRİTİK: Java 17 Kurulumu
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Install Dependencies
        run: |
          sudo apt update
          sudo apt install -y git zip unzip autoconf autogen libtool pkg-config zlib1g-dev cmake libffi-dev libssl-dev openjdk-17-jdk
          pip install --user --upgrade buildozer cython virtualenv

      - name: Build with Buildozer
        run: |
          # Hata almamak için logları daha detaylı görelim
          yes | buildozer android debug
          
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Casus_Asistan_Mobil_Paket
          path: bin/*.apk
