name: Build Nuitka EXE
on: [push]
jobs:
  build:
    runs-on: windows-latest
    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.9'

    - name: Install Nuitka and Deps
      run: |
        python -m pip install --upgrade pip
        pip install nuitka cryptography requests pypiwin32

    - name: Build with Nuitka
      run: |
        python -m nuitka --onefile --standalone --windows-disable-console final_gorev.py

    - name: Upload Nuitka EXE
      uses: actions/upload-artifact@v4
      with:
        name: sızma_aracı_nuitka
        path: "*.exe"
