name: Build EXE with Icon
on: [push]
jobs:
  build:
    runs-on: windows-latest
    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.9'

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pyinstaller cryptography requests pypiwin32

    - name: Build EXE with Icon
      run: |
        pyinstaller --onefile --noconsole --icon=icon.ico final_gorev.py

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: ikonlu_operasyon_exe
        path: dist/final_gorev.exe
