name: Build EXE
on: [push]
jobs:
  build:
    runs-on: windows-latest
    steps:
    - name: Checkout Code
      uses: actions/checkout@v4  # En güncel sürüm

    - name: Set up Python
      uses: actions/setup-python@v5 # En güncel sürüm
      with:
        python-version: '3.9'

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pyinstaller cryptography requests pypiwin32

    - name: Build EXE
      run: |
        pyinstaller --onefile --noconsole final_gorev.py

    - name: Upload Artifact
      uses: actions/upload-artifact@v4 # İşte burası V4 olmalıydı!
      with:
        name: operasyon_exe
        path: dist/final_gorev.exe
